{{#if useCoralTalk}}
	<script>
		window.commentsUseCoralTalk = true;
	</script>
	<a href="{{@root/basePath}}/content/{{id}}#comments"
		class="o-comments alphaville-card--comment-counter"
		data-o-component="o-comments"
		data-o-comments-article-id="{{id}}"
		data-o-comments-count="true"
		data-trackable="comment-count">
	</a>
{{/if}}
