<a href="{{@root/basePath}}/content/{{id}}#comments" class="alphaville-card--comment-counter" data-o-comments-count-config-hide-if-zero="false" data-o-component="o-comments" data-o-comments-count data-o-comments-count-config-article-id="longroom{{id}}" data-o-comments-count-config-template="{count}" data-trackable="comment-count"></a>
