<div class="o-message o-message--notice o-message--inner o-message--inform" data-o-component="o-message" data-o-message-close="false">
    <div class="o-message__container">
    <div class="o-message__content">
        <p class="o-message__content-main">
        Long Room will be closing down June 30, 2022
        </p>

        <div class="o-message__actions">
            {{!<a href="#" class="o-message__actions__secondary">Find out more</a>}}
        </div>
    </div>
    </div>
</div>