<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<div class="lr-navbar">
				<div class="o-grid-row">
					<div class="lr-navbar--title" data-o-grid-colspan="6 M3">
						The Long Room
					</div>

					<div class="lr-navbar--cta" data-o-grid-colspan="hide M5">
						<a href="{{basePath}}/content/upload-document" class="o-buttons {{#if isDocumentForm}}lr-cta--active{{/if}}"><i class="lr-icon--upload"></i> Upload a document</a>
						<a href="{{basePath}}/content/write-post" class="o-buttons {{#if isPostForm}}lr-cta--active{{/if}}"><i class="lr-icon--written-text"></i> Write a post</a>
					</div>

					<div class="lr-navbar--nav" data-o-grid-colspan="6 M4">
						<ul>
							<li><a href="/longroom/faq">FAQs</a></li>
							<li><a href="/longroom/house-rules">House Rules</a></li>
							<li class="lr-edit-my-posts"><a href="/longroom/myposts">Edit My Posts</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M8">
			{{> @partial-block }}
		</div>

		<div data-o-grid-colspan="hide M4">
			sidebar
		</div>
	</div>
</div>
