

<div class="o-grid-container">

	{{@root.canShowDecommNotficationBanner}}

	{{#canShowDecommNotficationBanner}}
		<div class="demo-inner-message">
		<div class="o-message o-message--notice o-message--inner o-message--inform" data-o-component="o-message" data-o-message-close="false">
			<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
				There are lazy dogs, maybe in a field, maybe not. It&apos;s important
				that you are informed of this fact.
				</p>

				<div class="o-message__actions">
				<a href="#" class="o-message__actions__primary">Button</a>
				<a href="#" class="o-message__actions__secondary">Text link</a>
				</div>
			</div>
			</div>
		</div>
		</div>
	{{/canShowDecommNotficationBanner}}

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<div class="lr-banner"><img src="{{@root/assetsBasePath}}/images/banner/non-members.jpg" width="100%"></div>
		</div>
	</div>

	{{#flashMessage}}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<div class="lr-message lr-message-{{type}}">
				{{msg}}
			</div>
		</div>
	</div>
	{{/flashMessage}}

	<div class="lr-main-content lr-non-member-content">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L8">
				{{> @partial-block }}
			</div>

			<div data-o-grid-colspan="12 L4">
				<div class="lr-sidebar">
					{{> alphaville-ui/ads/templates/dmpu_desktop}}
				</div>
			</div>
		</div>
	</div>
</div>
