.alphaville-card__lr-applicant {
  padding-bottom: 10px;
  max-width: 80%;
  .o-expander__content {
    max-width: 80%;
  }
}
.alphaville-card-container--lr-applicant {
  border-bottom: 1px solid #cec6b9;
  .alphaville-card {
    margin-bottom: 32px;
  }
}
