
.alphaville-article-list {
	.alphaville-list-time {
		margin-top: 15px;
	}
	.alphaville-card-container {
		padding: 5px 0 5px;

		.alphaville-card__content {

			.alphaville-card__theme {
				.alphaville-card__tag {
					margin-bottom: 5px;
				}
			}

			.alphaville-card__heading {
				margin-bottom: 5px;
				a {
					@include oTypographyDisplay($scale: 3);
					color: oColorsGetPaletteColor('black-80');
				}
				img.lr-card__file-icon {
					max-width: 20px;
					margin: 0 0 0 5px;
					display: inline;
				}
			}

			.alphaville-card__author {
				@include oTypographySans($scale: -1);
				color: oColorsGetPaletteColor('black-80');
				a {
					@include oTypographySansBold($scale: -1);
					color: oColorsGetPaletteColor('black-80');
				}
			}
		}
	}
}
