.lr-content-form {

	.o-forms__group {
		.o-forms__label {
			@include oTypographySans(
				$weight: 'semibold',
				$scale: -1
			);
			font-size: 18px;
			color: oColorsByName('black-80');
		}
		.o-forms__additional-info {
			@include oTypographySans($scale: -1);
			font-size: 16px;
			color: oColorsByName('black-80');

		}

		.lr-content-form-cta {
			button	{
				float:right;
			}
		}
	}

}
