.lr-faq-page {
	dl {
		dt {
			@include oTypographySans($scale: 2);
			color: oColorsByName('black-80');
			font-size: 20px;
			cursor: pointer;
			border-top: 1px solid #CEC6B9;

			&:first-child {
				border: none;
			}

			&.selected {
				color: oColorsByName('teal-40');
				i {
					@include oIconsGetIcon('arrow-down', oColorsByName('teal-40'), 12);
				}
			}

			a {
				@include oTypographySans($scale: 2);
				color: oColorsByName('black-80');
				font-size: 20px;
			}

			b {
				font-weight: normal;
				line-height: 30px;
			}

			i {
				@include oIconsGetIcon('arrow-right', oColorsByName('black-80'), 12);
				float:right;
				margin: 10px 10px 0 0;
			}

		}
		dd {
			display: none;
			font-family: Georgia, serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: oColorsByName('black-80');

			a {
				@include contentLinksBody();
			}

			a.hasImg {
				border: 0;
			}

			b {
				@include oTypographySansBold($scale: 2);
				font-size: 18px;
			}

			&.selected {
				display: block;
			}

			div.content {
				margin-top: 25px;
				margin-right: 40px;
				ol {
					padding-left: 20px;
					li {
						padding-bottom: 10px;
						ul {
							padding-left: 15px;
						}

					}
				}

			}
			div.collapse {
				text-align: right;
				margin:5px 10px 10px 0;
				cursor: pointer;

				span {
					@include oTypographySansBold($scale: -2);
					color: oColorsByName('teal-40');
					font-size: 13px;
					display: inline-block;
					margin-right: 10px;
				}
				i {
					@include oIconsGetIcon('arrow-up', oColorsByName('teal-40'), 12);
					vertical-align: middle;
				}
			}
		}
	}

}
