.lr-faq-page {
	dl {
		&:first-child {
			border: none;
		}
		dt {
			@include oTypographySansData(l);
			color: oColorsGetPaletteColor('grey-tint5');
			font-size: 20px;
			cursor: pointer;


			a {
				@include oTypographySansData(l);
				color: oColorsGetPaletteColor('grey-tint5');
				font-size: 20px;
			}

			b {
				font-weight: normal;
				line-height: 30px;
			}
			i {
				@include oIconsGetIcon('arrow-right', oColorsGetPaletteColor('grey-tint5'), 12);
				float:right;
				margin: 10px 10px 0 0; 
			}
			border-top: 1px solid #CEC6B9;
			&.selected {
				color: oColorsGetPaletteColor('teal-1');
				i {
					@include oIconsGetIcon('arrow-down', oColorsGetPaletteColor('teal-1'), 12);
				}
			}
		}
		dd {
			display: none;
			@include oTypographySerif(s);
			font-size: 18px;
			color: oColorsGetPaletteColor('grey-tint5');

			a {
				@include contentLinksBody();				
			}
			
			a.hasImg {
				border: 0;
			}

			&.selected {
				display: block;
			}

			div.content {
				margin-top: 25px;
				margin-right: 40px;
				ol {
					padding-left: 20px;
					li {
						padding-bottom: 10px;
						b {
							@include oTypographySansDataBold(l);
							font-size: 18px;
						}
						ul {
							padding-left: 15px;
						}

					}
				}

			}
			div.collapse {
				text-align: right;
				margin:5px 10px 10px 0;
				cursor: pointer;

				span {
					@include oTypographySansDataBold(s);
					color: oColorsGetPaletteColor('teal-1');
					font-size: 13px;
					display: inline-block;
					margin-right: 10px;
				}	
				i {
					@include oIconsGetIcon('arrow-up', oColorsGetPaletteColor('teal-1'), 12);
					vertical-align: middle;
				}
			}
		}
	}

}