.lr-join-form {
  .o-forms__label {
    font-family: MetricWeb, sans-serif;
    font-weight: 600;
    line-height: 16px;
    font-size: 18px;
  }
  .o-forms__additional-info {
    font-weight: 400;
    font-size: 16px;
    margin: -2px 0 4px 0;
  }
}
