.lr-myposts {

	.lr-page-heading-secondary {
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.alphaville-card-container {
		padding-top: 0px;
		margin-bottom: 15px;

		.alphaville-card {
			padding-top: 0px;
		}
	}

	.o-forms__group {
		padding: 0;
		margin-bottom: 10px;
	}

	.lr-form-label {
		@include oTypographySans(
			$weight: 'semibold',
			$scale: -1
		);
		color: oColorsByName('black-80');
		text-align: left;

		@include oGridRespondTo(M) {
			text-align: right;
		}

	}
	.lr-form-value {
		@include oTypographySans(
			$weight: 'semibold',
			$scale: -1
		);
		color: oColorsByName('black-80');
	}

	.lr-user-summary {
		.o-forms__textarea {
			@include oTypographySans($scale: -1);
			color: oColorsByName('black-80');
			height: 70px;
		}
	}

	.lr-myposts-action {

		.lr-myposts-action--Save {
			border-bottom: 1px solid #cec6b9;
			text-align: right;
		}

	}


}
