.lr-navbar {
	background-color: #ebe0d1;
	width: 98%;
	padding: 15px 1%;

	.lr-navbar--title {
		display: none;
		@include oTypographySans($scale: 2);
		color: oColorsGetPaletteColor('black-80');
		font-size: 18px;
		padding-top: 1px;

		@include oGridRespondTo(M) {
			display: block;
		}
		@include oGridRespondTo(XL) {
			padding-top: 4px;
			font-size: 21px;
		}

		span {
			display: none;
			@include oGridRespondTo(L) {
				display: inline-block;
			}
		}
		a {
			color: oColorsGetPaletteColor('black-80');
		}
	}

	.lr-navbar--cta {
		text-align: center;

		@include oGridRespondTo(XL) {
			.o-buttons {
				@include oButtonsSize(big);
			}
		}

		.lr-cta--active {
			$activeColor: #174549;

			background-color: oColorsGetPaletteColor('teal-80');
			color: $activeColor;
			border-color: $activeColor;

			.lr-icon--upload {
				@include oIconsGetIcon('upload', $activeColor, 23, $iconset-version: 1);
			}

			.lr-icon--written-text {
				@include oIconsGetIcon('written-text', $activeColor, 23, $iconset-version: 1);
			}
		}
	}

	.lr-navbar--nav {
		padding-top: 4px;

    @include oGridRespondTo(XL) {
			padding-top: 10px;
    }

		ul {
			list-style: none;
			margin: 0 -3px 0 0;
			padding: 0;
			text-align: center;

	    @include oGridRespondTo(M) {
				text-align: right;
	    }

			li {
				display: inline-block;
				padding: 0 3px;

				&.lr-edit-my-posts {
					display: none;

					@include oGridRespondTo(M) {
						display: inline-block;
					}
				}

				a {
					@include oTypographySansBold($scale: -1);
					color: oColorsGetPaletteColor('black-80');

					@include oGridRespondTo(XL) {
						font-size: 18px;
					}

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
