.lr-overheard--item {
	font-size: 16px;
	margin: 20px 0;

	a {
		color: oColorsGetPaletteColor('grey-tint5');
	}

	&:first-of-type {
		margin-top: 10px;
	}

	&:last-of-type {
		margin-bottom: 10px;
	}
}

.lr-overheard--pseudonym {
	font-weight: 600;
}

.lr-overheard--title {
	@include oTypographySerifDisplay(l);
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
}

.lr-overheard--comment {
	padding-top: 5px;
}
