.lr-overheard--item {
	margin: 20px 0;

	a {
		color: oColorsGetPaletteColor('grey-tint5');
	}

	&:first-of-type {
		margin-top: 10px;
	}

	&:last-of-type {
		margin-bottom: 10px;
	}
}

.lr-overheard--pseudonym {
	font-weight: 600;
}

.lr-overheard--title {
	font-size: 20px;
}

.lr-overheard--comment {
	padding-top: 5px;
}
