article.lr-post {
	.alphaville-card {
		padding-left: 0;
		margin-bottom: 20px;

		.alphaville-card__theme {
			.alphaville-card__tag {
				@include oTypographySansDataBold(m);
				display: inline-block;
			}
		}

		.alphaville-card__heading {
			@include oTypographySerifDisplay(l);
			margin-bottom: 0;
		}	

		.alphaville-card__footer {

		}

		.alphaville-card__author {
			@include oTypographySansData(m);	
			color: oColorsGetPaletteColor('grey-tint5');

			a {
				@include oTypographySansDataBold(m);	
				color: oColorsGetPaletteColor('grey-tint5');
			}
		}

		.alphaville-card__standfirst {
			&.lr-post-body {
				font-family: Georgia, serif;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				padding-top: 15px;

				p {
					margin-top: 0;
				}
			}
		}
		.lr-post--files {
			padding: 10px 0;

			span {
				color: oColorsGetPaletteColor(grey-tint5);
			}

			a {
				display: inline-block;

				span.lr-post--file-source {
					@include oTypographySerifDisplay(xs);
					display: inline-block;
					font-size: 16px;
					padding-left: 10px;
					margin-top: 15px;

					span {
						@include oTypographySansDataBold(m);
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}

		.lr-card__file-icon {
			max-width: 50px;
		}

		.lr-post-body {
			padding-top: 10px;
			word-break: break-word;

			img {
				max-width: 100%;
				height: auto;
			}

			blockquote {
				border-left: 2px solid oColorsGetPaletteColor(grey-tint2);
				margin-left: 0;
				padding-left: 20px;
			}
		}
	}
}
