{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-list">
	<div class="o-grid-row">
		<div class="main" data-o-grid-colspan="12">
			<h2>Sorry, the page you are trying to access does not exist.</h2>

			<p>This might be because you have entered the web address incorrectly or the page has moved.</p>
			<p>For help please contact <a href="mailto:alphaville@ft.com">alphaville@ft.com</a></p>
			<p>We apologise for any inconvenience.</p>
		</div>
	</div>
</div>
