{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
	<div class="alphaville-article-list lr-faq-page" data-trackable="faq">
		<h1>{{article.title}}</h1>
		<div class="body">
			{{{article.body}}}

			<div>
				{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=2}}
			</div>
		</div>

		<div class="alphaville-in-faq-ad1">
			{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=1}}
		</div>

		<div class="alphaville-in-faq-ad2">
			{{> alphaville-ui/ads/templates/longroom_tablet_mpu index=1}}
		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			{{#pagination}}
				{{> alphaville-ui/pagination/main}}
			{{/pagination}}
		</div>
	</div>
{{/lr_layout}}
