{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
	<div class="lr-list">
		{{#posts}}
			{{> card}}
		{{/posts}}
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			{{#pagination}}
				{{> alphaville-ui/pagination/main}}
			{{/pagination}}
		</div>
	</div>
{{/lr_layout}}
