{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
	<h1 class="lr-page-heading">{{article.title}}</h1>


	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M9 Moffset3">
			<div class="lr-house_rules-page" data-trackable="faq">
				<div class="body">
					{{{article.body}}}
				</div>

				<div class="alphaville-in-houserules-ad1">
					{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=1}}
				</div>

				<div class="alphaville-in-houserules-ad2">
					{{> alphaville-ui/ads/templates/longroom_tablet_mpu index=1}}
				</div>

				<div class="alphaville-in-houserules-ad3">
					{{> alphaville-ui/ads/templates/longroom_mobile_mpu longroom_mobile_mpu_index=2}}
				</div>
			</div>
		</div>
	</div>

{{/lr_layout}}
