{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout_non_member }}
	<h1 class="title">The {{ title }} <br/ >{{ subtitle }}</h1>
	<p>
		Welcome to FT Alphaville's exclusive comment and analysis arena, where finance professionals are invited to share their research and thoughts on financial markets.
	</p>
	<p>
		Taking its cue from the original Long Room Restaurant &amp; Bar in the City of London - close by the old Stock Exchange trading floor in Throgmorton Street and once a hub of financial chatter – the Long Room offers ideas and opinion from a broad range of analysts, financial bloggers and other self-appointed commentators on anything and everything that might be considered relevant to the financial world.
	</p>
	<p>
		Please note - the Long Room is aimed at professional market participants who understand the complexities of the financial instruments discussed, together with the attendant risks. The content is not suitable for retail clients.
	</p>
{{/lr_layout_non_member}}
