{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

{{#> lr_layout }}
<div class="lr-myposts">
	<h2 class="lr-page-heading">My public profile</h2>
		{{#userDetails}}

			<div class="o-grid-row">
				<div data-o-grid-colspan="12 M3" class="lr-form-label">Author</div>
				<div data-o-grid-colspan="12 M9" class="lr-form-value">
					<div class="o-forms">
						{{pseudonym}}
						</div>
					</div>
			</div>
			<form method="post" action="/longroom/dashboard/update" name="editSummary">

				<div class="o-grid-row lr-user-summary">
					<div data-o-grid-colspan="12 M3" class="lr-form-label">My biography </div>
					<div data-o-grid-colspan="12 M9">
						<div class="o-forms">
							<textarea name="summary" class="o-forms__textarea">{{summary}}</textarea>
						</div>
					</div>
				</div>

			<div class="o-grid-row lr-myposts-action">
				<div data-o-grid-colspan="12 M9 Moffset3" class="lr-myposts-action--Save">
					<div class="o-forms">
						<button class="lr-action--Save lr-action--button o-buttons o-buttons--primary" type="submit" name="save">Save</button>
					</div>
				</div>
			</div>
			</form>
		{{/userDetails}}
	<h2 class="lr-page-heading lr-page-heading-secondary">My drafts</h2>
	<div class="alphaville-article-list lr-post-list" data-trackable="author-draft-list">
		{{#drafts}}
			<div class="alphaville-list-category o-grid-row">
				<div data-o-grid-colspan="12 M3"></div>
				<div data-o-grid-colspan="12 M9">
					<div class="alphaville-list-items">
						{{> card}}
					</div>
				</div>
			</div>
		{{/drafts}}
	</div>

	<h2 class="lr-page-heading lr-page-heading-secondary">My published posts</h2>
	<div class="alphaville-article-list lr-post-list" data-trackable="author-post-list">
		{{#posts}}
			<div class="alphaville-list-category o-grid-row">
				<div data-o-grid-colspan="12 M3"></div>
				<div data-o-grid-colspan="12 M9">
					<div class="alphaville-list-items">
						{{> card}}
					</div>
				</div>
			</div>
		{{/posts}}
	</div>
</div>
{{/lr_layout}}
