{{#contentFor "head"}}
    <link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

    <script>
        (function () {
            ctmLoadScript({
                src: "{{assetsBasePath}}/build/main.js",
                async: true
            });
        }());
    </script>
{{/contentFor}}

{{#> lr_layout_non_member }}
    <div class="lr-non-member-message">{{{ message }}}</div>
{{/lr_layout_non_member}}
