@import './assets';

@import 'alphaville-ui/main';
@import './create_form';
@import 'o-normalise/main';

$o-comments-is-silent: false;
@import 'o-comments/main';

@include oNormalise();

@mixin contentLinksBody() {
	color: oColorsByUsecase(link, text);
	border-bottom: 1px dotted oColorsByUsecase(link, text);
	text-decoration: none;
	&:hover,
	&:focus {
		color: oColorsByUsecase(link-hover, text);
		border-bottom-color: transparent;
	}
}

@import 'partials/banner';
@import 'partials/navbar';
@import 'partials/card';
@import 'partials/post';
@import 'partials/myposts';
@import 'partials/form';
@import 'partials/content_form';
@import 'partials/faq';
@import 'partials/house_rules';
@import 'partials/user';
@import 'partials/overheard';
@import 'partials/wysiwyg';
@import 'partials/admin';

.lr-main-content {
	margin-top: 25px;
}

.lr-non-member-content {
	margin-top: 0;

	h1.title {
		@include oTypographyDisplay($scale: 3);
	}

	p {
		font-family: Georgia, serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
	}

	a:not(.o-buttons) {
		color: #26747a;
		border-bottom: 1px dotted #26747a;
		text-decoration: none;
	}
}

.lr-page-heading {
	color: oColorsByName('black-80');
	margin:0 0 20px;
	padding:0;

}

h1.lr-page-heading {
	@include oTypographySans($scale: 4);
}

h2.lr-page-heading {
	@include oTypographySans($scale: 2);
}


.lr-home-create-col {
	margin-top: 1.67em;
}

.lr-icon--upload {
	@include oIconsContent(
		$icon-name: 'upload',
		$color: oColorsByName('teal-40'),
		$size: 23
	);
	margin: -5px;
	position: relative;
	top: 1px;
}

.lr-icon--written-text {
	@include oIconsContent(
		$icon-name: 'written-text',
		$color: oColorsByName('teal-40'),
		$size: 23,
	);
	margin: -5px;
	position: relative;
	top: 1px;
}



.lr-action-container {
	float: right;
	display: none;

	@include oGridRespondTo(M) {
		display: block;
	};

	.lr-action--delete {
		color: oColorsByName('teal-40');
		font-weight: bold;
	}

	.lr-action--button {
		display: inline-block;
		padding: 6px 15px;
	}

}

.lr-post-list {
	.lr-action-container {
		// margin-top: -30px;
	}
}


.lr-message {
	padding: 10px;
	margin-top: 10px;
	background-color: oColorsByName('black-5');
	color: oColorsByName('jade');
}

.lr-message-success {
	color: oColorsByName('jade');
}

.lr-message-error {
	color: oColorsByName('crimson');
}

.alphaville-article-list .o-ads {
	padding: 20px 0;
	border-bottom: 1px solid #cec6b9;
}

.lr-faq-page .o-ads {
	padding: 20px 0;
	border: none;
}

.lr-post .o-ads {
	padding-bottom: 20px;
}

.lr-non-member-message {
	font-size: 18px;
	min-height: 200px;
}

.comments__maintenance-mode-message {
	@include oTypographySans(0);

	margin-top: 32px;
	margin-bottom: 32px;
}
