@import './assets';

$o-link-list-is-silent: false;
@import 'o-link-list/main';

$o-expander-is-silent: false;
@import 'o-expander/main';

$o-forms-is-silent: false;
@import 'o-forms/main';

$o-card-is-silent: false;
@import 'o-card/main';

@import 'alphaville-ui/main';
@import './create_form';
@import 'o-comments/main';

.lr-home-create-col {
	margin-top: 1.67em;
}

.lr-icon--upload {
	@include oIconsGetIcon('upload', oColorsGetPaletteColor('teal-1'), 23, $iconset-version: 1);
	margin: -5px;
	position: relative;
	top: 1px;
}

.lr-icon--written-text {
	@include oIconsGetIcon('written-text', oColorsGetPaletteColor('teal-1'), 23, $iconset-version: 1);
	margin: -5px;
	position: relative;
	top: 1px;
}

.lr-navbar {
	background-color: #ebe0d1;
	width: 98%;
	height: 27px;
	padding: 5px 1%;
}

.lr-navbar--title {
	@include oTypographySerif(m);
	line-height: 27px;

	a {
		color: oColorsGetPaletteColor('cold-2');
	}
}

.lr-navbar--cta {
	text-align: center;

	.lr-cta--active {
		$activeColor: #174549;

		background-color: oColorsGetPaletteColor('teal-2');
		color: $activeColor;
		border-color: $activeColor;

		.lr-icon--upload {
			@include oIconsGetIcon('upload', $activeColor, 23, $iconset-version: 1);
		}

		.lr-icon--written-text {
			@include oIconsGetIcon('written-text', $activeColor, 23, $iconset-version: 1);
		}
	}
}

.lr-navbar--nav {
	ul {
		list-style: none;
		margin: 0 -3px 0 0;
		padding: 0;
		text-align: right;

		li {
			display: inline-block;
			padding: 0 3px;
			line-height: 27px;
			font-weight: bold;

			a {
				color: oColorsGetPaletteColor('grey-tint5');

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.lr-edit-my-posts {
		display: none;

		@include oGridRespondTo(M) {
			display: inline-block;
		}
	}

	@include oGridRespondTo(M) {
		margin-left: -25px;

		ul {
			width: 110%;
		}
	}

	@include oGridRespondTo(L) {
		margin-left: 0;

		ul {
			width: 100%;
		}
	}
}

.lr-sidebar {
	margin-top: 20px;
}

.lr-post {
	.alphaville-card__heading {
		margin-bottom: 0;
	}

	.alphaville-card {
		padding-left: 0;
		margin-bottom: 20px;
	}

	.lr-card__file-icon {
		max-width: 50px;
	}

	.lr-post--files {
		padding: 10px 0;

		span {
			color: oColorGetPaletteColor(grey-tint5);
		}
	}

	.lr-post--file-source {
		span {
			font-weight: bold;
		}
	}
}


.lr-action-container {
	float: right;
	display: none;

	@include oGridRespondTo(M) {
		display: block;
	};

	.lr-action--delete {
		color: oColorsGetPaletteColor('teal-1');
		font-weight: bold;
	}

	.lr-action--button {
		display: inline-block;
		min-width: 70px;
	}
}

.lr-message {
	padding: 10px;
	margin-top: 10px;
	background-color: oColorsGetPaletteColor('warm-2');
	color: oColorsGetPaletteColor('green');
}

.lr-message-success {
	color: oColorsGetPaletteColor('green');	
}

.lr-message-error {
	color: oColorsGetPaletteColor('red');	
}

.alphaville-article-list .o-ads {
	padding: 20px 0;
	border-bottom: 1px solid #cec6b9;
}

.lr-faq-page .o-ads {
	padding: 20px 0;
}
