.longroom-create-post {
	.o-forms {
		max-width: 100%;
	}
	.o-forms__text {
		max-width: 100%;
	}
}

.lr-forms__small-label {
	font-size: 14px;
	font-weight: normal;
}

.lr-forms__action-link {
	font-weight: bold;
	color: oColorsGetPaletteColor('black-80');
	font-size:16px;
}

.lr-forms__file-upload--group {
	margin-bottom: 5px;

	[type="file"] {
		visibility: hidden;
		position: absolute;
	}
}

.lr-forms__file-upload--group--template {
	display: none;
}

.lr-forms__file-upload {
	margin-top: 12px;
	cursor: pointer;
}

.lr-forms__file-upload--preview {
	margin: 5px 0 10px;
	min-height: 75px;

	.lr-forms__file-upload--progress {
		width: 100%;
		height: 20px;
		margin: 25px 0;
	}

	&:empty {
		margin: 0;
		min-height: 0;
	}

	img {
		max-height: 70px;
	}
}

.lr-forms__file-upload--preview-info {
	display: inline-block;
}

.lr-forms__file-upload--delete {
	cursor: pointer;
}

.lr-forms__file-upload--labels {
	margin-bottom: 5px;
}





.lr-forms__tags--tag {
	display: inline-block;
	margin: 0 5px 5px;

	span:after {
	    content: 'x';
		padding-left: 5px;
		font-size: 12px;
		vertical-align: bottom;
		color: oColorsGetPaletteColor('crimson');
	}
}

.lr-forms__tags--autocomplete {
	display: none;
	position: absolute;
	top: 26px;
	z-index: 10;
	height: auto;
	max-height: 200px;
}

.lr-forms__tags--container {
	position: relative;

	.visually-hidden {
		display: none;
	}

	.lr-forms__tags--list {
		list-style: none;
		margin: 10px -5px;
		padding: 0;
	}

	.awesomplete ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
		border-radius: .3em;
		position: absolute;
		left: 0;
		z-index: 1;
		min-width: 100%;
		box-sizing: border-box;
		list-style: none;
		padding: 0;
		margin: .2em 0 0;
		background: hsla(0,0%,100%,.9);
		background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
		border: 1px solid rgba(0,0,0,.3);
		box-shadow: 0.05em 0.2em 0.6em rgba(0,0,0,.2);
		text-shadow: none;
		overflow: auto;
		max-height: 120px;

		&[hidden] {
			display: none;
		}

		[hidden],
		:empty {
			opacity: 0;
			transform: scale(0);
			display: block;
			transition-timing-function: ease;
		}

		li {
			position: relative;
			padding: .2em .5em;
			cursor: pointer;

			mark {
				background: hsl(65, 100%, 50%);
			}

			&[aria-selected="true"] {
				background: hsl(205, 40%, 40%);
				color: white;

				mark {
					background: hsl(86, 100%, 21%);
					color: inherit;
				}
			}
		}
	}
}

.lr-generic-message {
	margin: 10px 0 0 10px;
	font-weight: bold;
	color: oColorsGetPaletteColor('crimson');
}

.lr-label-with-info {
	display: inline-block;
}

.lr-forms__info {
	border-radius: 20px;
	padding: 0;
	line-height: 10px;
	min-width: 20px;
	min-height: 20px;
}

.lr-link--cancel {
	color: oColorsGetPaletteColor('teal-40');
	font-size: 18px;
	margin-right: 10px;
	font-weight: bold;
}
