.lr-forms__small-label {
	font-size: 14px;
	font-weight: normal;
}

.lr-forms__action-link {
	font-weight: bold;
	color: oColorsGetPaletteColor('cold-2');
}

.lr-forms__file-upload--group {
	margin-bottom: 5px;

	[type="file"] {
		visibility: hidden;
		position: absolute;
	}
}

.lr-forms__file-upload {
	width: 100%;
	cursor: pointer;
}

.lr-forms__file-upload--preview {
	margin: 5px 0 10px;
	min-height: 70px;

	&:empty {
		margin: 0;
	}

	img {
		max-height: 70px;
	}
}

.lr-forms__file-upload--preview-info {
	display: inline-block;
}

.lr-forms__file-upload--delete {
	cursor: pointer;
}
